
    .navbar {
        list-style:none;
        background-color:Black;
        overflow: hidden;
        padding:0;
    }
    .navbar a{
        text-decoration:none;
        color:white;
        font-size:24px;
        padding:16px;
        display: inline-block;
    }
    .navbar li{
        float:right;
    }
    .navbar li:hover{
        background-color:Black;
    }
    .dropdown-cnt{
        list-style:none;
        padding:0;
        display:none;
    }
    .dropdown-cnt li{
        float:none;
        padding:0;
    }
    .navbar a, dropdown div {
        text-decoration:none;
        color:white;
        font-size:24px;
        padding:16px;
        display: inline-block;
    }
    .youre-Special{
        font-size: 25px;
        padding:16px;
        color:white;
        display:inline-block;
    }
    .dropdown:hover .dropdown-cnt{
        display:block;
    }
    .navbar a:hover{
        background-color:White;
        color:black;

    }
    .active {
        background-color:blue;
    }
        .navbar {
        list-style:none;
        background-color:Black;
        overflow: hidden;
        padding:0;
    }
    .navbar a{
        text-decoration:none;
        color:white;
        font-size:24px;
        padding:16px;
        display: inline-block;
    }
    .navbar li{
        float:Right;
    }
    .navbar li:hover{
        background-color:Black;
    }
    .dropdown-cnt{
        list-style:none;
        padding:0;
        display:none;
    }
    .dropdown-cnt li{
        float:none;
        padding:0;
    }
    .navbar a, dropdown div {
        text-decoration:none;
        color:white;
        font-size:24px;
        padding:16px;
        display: inline-block;
    }
    .youre-Special{
        font-size: 25px;
        padding:16px;
        color:white;
        display:inline-block;
    }
    .dropdown:hover .dropdown-cnt{
        display:block;
    }
    .navbar a:hover{
        background-color:White;
        color:black;
    }
    .active{
        background-color:blue;
    }
    .youreOmegaSpecial{
        background-color:blue;
        font-size: 25px;
        padding:16px;
        color:white;
        display:inline-block;
    }
    .heyKid-yourePrettySpecial{
        background-color:blue;
    }
    body {
          background: url(./images/GarfOne);
          background-size: cover;
          font-family: 'Julius Sans One';font-size: 22px;
        }
    #me {
        color:white;
        font-size: 25px;
        padding:16px;

        float:left;
    }
    .centerh1tag{
        text-align: center;
        font-weight: bold;
    }
    .center {
        text-align:center;
    }
    #footerColor{
        background-color:black;
        color:white;
        width: 100%;
        height:100%;
    }
    #centerTheThingy {
        text-align:center;
    }
    head{
        font-family: 'Julius Sans One';font-size: 22px;
    }